#grants {
  background-color: #eacbb4; }
  #grants .container {
    text-align: center; }
    #grants .container .sub-sections {
      margin-top: 40px; }
      #grants .container .sub-sections .sub-section {
        width: 100%;
        margin-bottom: 40px; }

@media (min-width: 767px) {
  #grants .container .sub-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #grants .container .sub-sections .sub-section {
      width: 50%;
      min-height: 300px;
      padding: 0 5%; } }
@media (min-width: 1200px) {
  #grants .container .sub-sections .sub-section {
    width: 33%; } }
#jobs {
  background-color: #efece3; }
  #jobs .container {
    text-align: center; }
    #jobs .container .job-listing {
      margin-bottom: 40px; }
      #jobs .container .job-listing .details {
        display: none; }
    #jobs .container .job-links {
      margin: 60px 0; }

.accordion-trigger {
  transition: all .1s ease-in-out; }

.accordion-trigger:hover {
  transform: scale(1.05);
  cursor: pointer; }

footer {
  background-color: #db6639;
  text-align: center; }
  footer .container .contact {
    margin-bottom: 50px; }
  footer .container .staff .columns {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap; }
    footer .container .staff .columns .column {
      width: 100%; }

@media (min-width: 767px) {
  footer {
    text-align: left; }
    footer .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      footer .container .contact {
        width: 50%; }
      footer .container .staff {
        width: 50%; }
        footer .container .staff .columns .column {
          padding-right: 15%; } }
@media (min-width: 900px) {
  footer .container .contact {
    width: 33%; }
  footer .container .staff {
    width: 66%; }
    footer .container .staff .columns .column {
      width: 50%; } }
@media (min-width: 1200px) {
  footer .container .contact {
    width: 25%; }
  footer .container .staff {
    width: 75%; }
    footer .container .staff .columns .column {
      width: 33%; } }
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 190px;
  background: #db6639;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  padding-top: 20px;
  transition: .5s; }
  header #logo {
    width: 100px; }
  header .l-container, header .r-container {
    width: 200px; }
  header .m-container {
    text-align: center; }
  header input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: white url("../images/search.png") no-repeat;
    background-size: 20px 20px;
    background-origin: content-box;
    padding-top: 4px;
    padding-left: 5px; }
    header input:focus {
      background-image: none;
      padding-top: 0; }

.nav {
  position: fixed;
  top: 190px;
  width: 100%;
  transition: .5s;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden; }
  .nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #db6639;
    padding: 5px 20px; }

.smaller {
  height: 80px;
  padding: 10px;
  align-items: center; }
  .smaller .l-container {
    display: none; }
  .smaller #logo {
    width: 60px; }
  .smaller h2 {
    display: none; }

.smaller-nav {
  top: 80px; }

#links {
  background-color: #eacbb4; }
  #links .container {
    text-align: center; }
    #links .container .art-kind {
      margin-bottom: 80px; }
      #links .container .art-kind .sub-art-kind ul {
        display: none;
        overflow: hidden; }
        #links .container .art-kind .sub-art-kind ul .column {
          width: 100%; }

@media (min-width: 1200px) {
  #links .container .art-kind .sub-art-kind ul .column {
    padding: 0 5%;
    width: 33%;
    float: left; } }
.topbox {
  width: 100%;
  text-align: center;
  clear: both; }
  .topbox .top-button {
    display: inline-block;
    padding: 10px;
    transition: background-color .5s ease;
    text-transform: uppercase; }
    .topbox .top-button .fa {
      font-size: 3rem;
      line-height: 1rem; }
    .topbox .top-button h5 {
      font-weight: 400; }
  .topbox .top-button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1); }

.about-me {
  background: #eacbb4;
  margin-top: 190px; }
  .about-me .articles {
    text-align: center; }

.exhibits-carousel {
  height: 400px;
  margin: 40px 0px; }
  .exhibits-carousel img {
    height: 400px;
    margin: 0 auto; }

.arrows {
  position: relative;
  background: red;
  width: 100%; }

.left, .right {
  position: absolute; }

.left {
  top: 200px;
  left: -50px; }

.right {
  top: 200px;
  right: -50px; }

body {
  font-family: 'Oswald', sans-serif; }

*, h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: .05rem; }

p {
  line-height: 1.5rem;
  color: #403d39; }

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center; }

h2 {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 15px; }

h3 {
  font-size: 1.3rem;
  margin-top: 5px;
  margin-bottom: 10px; }

h4 {
  margin-bottom: 5px; }

a {
  color: #403d39;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.container {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0; }

li {
  list-style-type: none;
  line-height: 1.5rem;
  margin-bottom: 15px; }

/*# sourceMappingURL=styles.css.map */
