@import "partials/_variables.scss";
@import "partials/_mixins.scss";
@import "partials/_grants.scss";
@import "partials/_jobs.scss";
@import "partials/_footer.scss";
@import "partials/_header.scss";
@import "partials/_isaiah.scss";
@import "partials/_links.scss";
@import "partials/_topbox.scss";
@import "partials/_aboutUs.scss";
@import "partials/_exhibits.scss";
@import "partials/_facility.scss";
@import "partials/_header2.scss";



body{
  font-family: 'Oswald', sans-serif;
}

*, h1 {
  margin:0;
  padding:0;
  box-sizing: border-box;
  letter-spacing: .05rem;
}

p{
  letter-spacing: .06rem;
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: $color5;
  font-weight: 300;
}

h1{
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

h2{
  font-size: 2rem;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 15px;
}

h3{
  font-size: 1.3rem;
  margin-top: 5px;
  margin-bottom: 10px;
}

h4{
  margin-bottom: 5px;
}

a{
  color: $color5;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.container{
  width:80%;
  margin: 0 auto;
  padding: 50px 0;
}

li{
  font-weight: 300;
  font-size: 1.1rem;
  list-style-type: none;
  line-height: 1.7rem;
  margin-bottom: 15px;
}

hr{
  border:none;
  border-top: 1px solid $color5;
  margin: 40px auto;
  max-width: 767px;
}
