.exhibits{
  background-color: $color3;
  .container{
    .text{
      text-align: center;
      margin:0 auto;
    }

    .arrows {
      position: relative;
      width: 100%;
      z-index: 1000;
    }

    .left, .right {
      position:absolute;
    }

    .left {
      top: -120px;
      left: 3%;
      font-size: 1.5rem;
      color:white;
    }

    .right {
      top: -120px;
      right: 3%;
      font-size: 1.5rem;
      color:white;
    }

    .exhibits-carousel {
      height: 600px;
      margin: 40px auto 80px;

      .carousel-item1, .carousel-item2, .carousel-item3{
        overflow: hidden;
        text-align: center;
        height:600px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        h2{
          font-size: 1.5rem;
        }

        a:hover{
          color:$color1;
        }
      }

      .carousel-item1{
        background-image: url('../images/artist1.jpg');
      }

      .carousel-item2{
        background-image: url('../images/artist2.jpg');
      }

      .carousel-item3{
        background-image: url('../images/artist3.jpg');
      }

      .item-description{
        height: 200px;
        padding: 10px 20px;
        background-color: rgba(239,236,227,.75);
      }

    }

  }
}






// MEDIA QUERIES________________________________________

@media (min-width:767px) {
  .text{
    max-width: 900px;
  }

  .exhibits{
    .exhibits-carousel{
      .carousel-item1, .carousel-item2, .carousel-item3{
        .item-description{
          h2{
            font-size: 2rem;
          }
        }
      }
    }
  }
}

@media (min-width:900px) {
  .exhibits{
    .container{
      .left{
        top:-400px;
        left:-5%;
        color:black;

      }

      .right{
        top:-400px;
        right:-5%;
        color: black;
      }

      .exhibits-carousel{
        .carousel-item1, .carousel-item2, .carousel-item3{
          .item-description{
            float: left;
            height: 600px;
            padding: 20px 40px;
            width: 300px;
          }
        }
      }
    }
  }
}
