.exhibits{
  background-color: $color3;
  .container{
    .text{
      text-align: center;
      margin:0 auto;
    }

    .arrows {
      position: relative;
      background: red;
      width: 100%;
      z-index: 1000;
    }
    .left, .right {
      position:absolute;
    }

    .left {
      top: 260px;
      left: 10px;
      font-size: 2rem;
      color:white;
    }

    .right {
      top: 260px;
      right: 10px;
      font-size: 2rem;
      color:white;
    }

    .exhibits-carousel {
      height: 600px;
      margin: 40px auto 80px;

      .carousel-item{
        overflow: hidden;
        text-align: center;
        height:600px;


        .item-description{
          height: 200px;
          padding: 20px;
          background-color: $color2;
        }

        img{
          // height: 400px;
          width: 100%;
        }

      }
    }

  }
}






// MEDIA QUERIES________________________________________

@media (min-width:767px) {
  .text{
    max-width: 767px;
  }
}
