footer{
  background-color: $color1;
  text-align: center;

  h2{
    font-weight: 200;
  }

  .container{

    .contact{
      margin-bottom: 50px;
      // width: 22%;
      // float: left;
      // margin-right: 3%;
    }

    .staff{
      .columns{
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        // width: 75%;

        .column{
          // width: 28%;
          // margin-right: 5%;
          width: 100%;
        }
      }
    }
  }
}



// MEDIA QUERIES______________________________

@media (min-width:767px) {
  footer{
    text-align: left;

    .container{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .contact{
        float:left;
        width: 50%;
      }

      .staff{
        width: 50%;
      }
    }
  }
}


@media (min-width:900px) {
  footer{

    .container{

      .contact{
        width: 33%;
      }

      .staff{
        width: 66%;
      }
    }
  }
}


@media (min-width:1200px) {

}
