#grants{
  background-color: $color2;
  .container{
    text-align: center;

    .sub-sections{
      margin-top: 40px;

      .sub-section{
        width: 100%;
        margin-bottom: 80px;
      }

      a:hover{
        color: $color1;
      }

      a:hover .grant-button{
        background-color: lighten($color3, 10%);
      }

      .grant-button{
        margin: 0 auto;
        width:275px;
        height: 275px;
        border-radius: 50%;
        padding:50px;
        margin-bottom: 80px;
        background-color: $color3;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s ease-in-out;
      }

      .grant-button:hover{
        transform: scale(1.1);
      }
    }
  }
}


// MEDIA QUERIES_____________________
@media (min-width:767px) {
  #grants{
    .container{

      p{
        max-width: 767px;
        margin: 0 auto;
      }

      .sub-sections{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .sub-section{
          width: 50%;
          min-height: 250px;
          padding: 0 5%;
          margin-bottom: 40px;
        }

        a{
          margin: 20px;
        }
      }
    }
  }
}


@media (min-width:1200px) {
  #grants{
    .container{

      .sub-sections{

        .sub-section{
          min-height: 270px;
          width: 33%;
        }

        .grant-button{
        }
      }
    }
  }
}
