#grants{
  background-color: $color2;
  .container{
    text-align: center;

    .sub-sections{
      margin-top: 40px;
      .sub-section{
        width: 100%;
        margin-bottom: 40px;
        // border:1px solid blue;
      }
    }
  }
}




// MEDIA QUERIES_____________________
@media (min-width:767px) {
  #grants{
    .container{

      .sub-sections{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .sub-section{
          width: 50%;
          min-height: 300px;
          padding: 0 5%;
        }
      }
    }
  }
}


@media (min-width:1200px) {
  #grants{
    .container{

      .sub-sections{

        .sub-section{
          width: 33%;
        }
      }
    }
  }
}
