#jobs{
  background-color: $color3;
  .container{
    text-align: center;

    a:hover{
      color: $color1;
    }

    .job-listing{
      max-width: 767px;
      margin: 0 auto 40px;

      .details{
        display: none;
      }
    }

    .job-links{
      margin:60px 0;
    }
  }
}

.accordion-trigger{
  transition: all .1s ease-in-out;
}

.accordion-trigger:hover{
  color: $color1;
  transform: scale(1.05);
  cursor: pointer;
}
