#links{
  background-color: $color2;
  .container{
    text-align: center;

    a:hover{
      color: $color1;
    }

    .art-kind{

      .sub-art-kind{

        .accordion-trigger{
        }

        ul{
          display: none;
          overflow: hidden;

          .column{
            width: 100%;
          }
        }
      }

    }
  }
}



// MEDIA QUERIES___________________________________

@media (min-width:1200px) {
  #links{
    .container{
      .art-kind{
        .sub-art-kind{
          .accordion-trigger{

          }

            ul{
              .column{
                padding:0 5%;
                width: 33%;
                float: left;
              }
            }

        }
      }
    }
  }
}
